body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

li {
    list-style: none;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.header-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo-text {
    font-size: 24px;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

ul {
    display: flex;
    gap: 20px;
}

.q1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.q1-content {
    max-width: 1200px;
    padding: 60px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.q1-text, .q1-image {
    width: 50%;
}

.q1-image img {
    width: 100%;
    height: 216px;
    object-fit: cover;
}

.q2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.q2 h2 {
    font-weight: 900;
    margin: 30px;
}

.q2-content {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 70px 0;
}

.q2-corpse {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    gap: 10px;
}

.q2-image {
    width: 150px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.q3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.q3-content {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
}

#quote {
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    margin: 0;
    display: flex;
}

#quote-foot {
    font-weight: 900;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
}

.q4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.q4-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    margin: 100px 0;
}

.q4-text {
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 100px;
}

.cta {
    font-weight: 900;
    font-size: 22px;
}

p {
    margin: 0;
}

.button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 32px;
    margin-top: 10px;
}

.button-q4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border: solid white;
    border-radius: 5px;
    padding: 5px 32px;
    margin: 50px 100px 50px 0px;
}

.main {
    flex: 1;
}

.footer {
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
}
